# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/

# Ruby
*.gem
.bundle
Gemfile.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*
