# Site settings
title: Latish Sherigar
email: your-email@example.com
description: >-
  Personal website and blog by Latish Sherigar. 
  Thoughts on life, technology, and everything in between.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://latish-sherigar.com" # the base hostname & protocol for your site
twitter_username: your_username
github_username:  your_username

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate

# Pagination
paginate: 15
paginate_path: "/blog/page:num/"

# Single blog collection
collections:
  posts:
    output: true
    permalink: /blog/:year/:month/:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
